[Unit]
Description=Resilio Sync service
Documentation=https://help.getsync.com/
After=network.target network-online.target

[Service]
User=pi
Type=forking
Restart=on-failure
PIDFile=/usr/share/sync/sync.pid
ExecStart=/usr/bin/rslsync --config /usr/share/sync/config.json --log /usr/share/sync/log
;ExecStartPre=/etc/resilio-sync/init_user_config.sh

[Install]
WantedBy=default.target
